*{
	margin: 0;
	padding: 0;
	border: none;
}

.ll-container{
	position: relative;
	display: inline-block;
	/*padding: 5% 0;*/
	height: 200px;
	width: 49%;
	/*border: 1px solid black;*/
	/*border-radius: 100%;*/
	/*box-sizing: border-box;*/
}

.ll-container .ll-content{
	height: 200px;
	width: 200px;
	border-radius: 100%;
	border: 1px solid black;
	cursor: pointer;
}

.ll-container img{
	border-radius: 100%;
	width: 200px;
	height: 200px;
	animation: fadeIn 2s ease;
}

button{
	width: 100px;
	height: 50px;
	color: white;
	background-color: black;
	border: 1px solid black;
	cursor: pointer;
	transition: all ease .5s;
}

button:hover{
	background-color: transparent;
	color: black;
	transition: all ease .5s;
}

.container{
	width: 100%;
	position: relative;
	padding: 5% 5%;
	box-sizing: border-box;
}

.container > button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

img{
	opacity: 1;
	transition: opacity ease .5s;
}

img[data-src]{
	opacity: 0;
}

@keyframes fadeIn{
	from{
		opacity: 0;
		visibility: hidden;
	}
	to{
		opacity: 1;
		visibility: visible;
	}
}